<div class="container">
    <header>
        <section id="head">
            <div>
                <h1>Hôtel</h1>
                <div class="menu">
                    <input type="checkbox" id="menu-toggle" class="menu-toggle-checkbox" />
                    <label for="menu-toggle" class="menu-toggle-label" style="color: white;">&#9776; Menu</label>
                    <ul>
                        <li><a href="/home">Hôtel</a></li>
                        <li><a href="#chambre">Chambres</a></li>
                        <li><a href="#about">About Us</a></li>
                        <li><a href="#event">Event</a></li>
                        <li><a href="/contact/client">Contact Us</a></li>
                        <li><a href="#reservation">Reservations</a></li>

                    </ul>
                </div>
            </div>
        </section>
        
        <section id="chambre">
            <div>
                <a href="/chambres">Chambres</a>
            </div>
        </section>
        <section class="section" id="about">
            <div class="col-md-12 col-lg-4 order-lg-1" data-aos="fade-up">
                <h2 class="heading">Welcome!</h2>
                <p class="mb-4">Far far away, behind the </p>
              </div>
        </section>
        <section class="section" id="reservation">
            <div>
                <a href="/create-r">Reserver</a>
            </div>
            
        </section>
        <section>
            <div class="row justify-content-center text-center mb-5">
                <div class="col-md-7">
                  <h2 class="heading" data-aos="fade-up">Events</h2>
                  <p data-aos="fade-up">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </div>
              </div>
        </section>
        
    <section class="section bg-image overlay" style="background-image: url();">
        <div class="container" >
          <div class="row align-items-center">
            <div class="col-12 col-md-6 text-center mb-4 mb-md-0 text-md-left" data-aos="fade-up">
              <h2 class="text-white font-weight-bold">A Best Place To Stay. Reserve Now!</h2>
            </div>
            <div class="col-12 col-md-6 text-center text-md-right" data-aos="fade-up" data-aos-delay="200">
              <a href="/create-r" class="btn btn-outline-white-primary py-3 text-white px-5">Reservez</a>
            </div>
          </div>
        </div>
      </section>

    </header>
</div>