<div class="dashboard-container">
    <div class="menu">
        <h1 style="color: white;">Manager Dashboard</h1>
        <input type="checkbox" id="menu-toggle" class="menu-toggle-checkbox" />
        <label for="menu-toggle" class="menu-toggle-label" style="color: white;">&#9776; Menu</label>
        <ul>
            <li><a href="/clients">Clients</a></li>
            <li><a href="/reservations">Reservations</a></li>
            <li><a href="/chambres">Chambres</a></li>
            <li><a href="/contacts">Contacts</a></li>
        </ul>
    </div>
    <div class="dashboard-card">
        <h2>Statistics</h2>
        <p>Total Clients: {{totalClients}}</p>
        <p>Total Reservations: {{totalReservations}}</p>
    
        <h2>Recent Activity</h2>
        <li *ngFor="let activity of recentActivities">{{activity}}</li>
    </div>
</div>

