<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>W3.CSS Template</title>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
.more-button {
   position: absolute;
   top: 5px;
   right: 10px;
}

.dashboard-card {
   position: absolute;
   top: 15px;
   left: 15px;
   right: 15px;
   bottom: 15px;
}


.dashboard-card-content {
   text-align: center;
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   align-items: center;
   max-height: 100%;
   justify-content: center;
   align-items: stretch;
}

mat-card {
   display: flex;
   flex-direction: column;
}
.a{
  padding-top: 12px;
  padding-bottom: 12px;
}
.a:hover{
  background-color: rgb(243, 219, 195);
}
  </style>
    </head>
    <body> 
<mat-sidenav-container fullscreen>
     <mat-sidenav mode="side" #sidenav opened position="start" style=" width: 23%"> <!--background-color: peru; -->
      <!-- <button mat-icon-button (click)="toggleSidenav(sidenav)">
        <mat-icon><img src="../assets/luna/menu1.png" alt=""></mat-icon>
      </button> -->
        <mat-nav-list>
          <a><img src="https://see.fontimg.com/api/renderfont4/8M22Z/eyJyIjoiZnMiLCJoIjo2NSwidyI6MTAwMCwiZnMiOjY1LCJmZ2MiOiIjMDAwMDAwIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/SG90ZWwgRGVsIEx1bmE/legendary-runes-free-trial.png" ></a>
          <br><br>
            <a mat-list-item href="/manager">Dashboard</a>
            <div style="margin-left: 8px;  font-size: x-large;">
            <a mat-button [matMenuTriggerFor]="chambres">Chambres</a>
            <mat-menu #chambres="matMenu" style="padding-bottom: 10px;">
              <a mat-list-item href="/chambres">Liste Chambres</a>
              <a mat-list-item href="/create-c">Ajouter Chambre</a>
            </mat-menu><br>
            <a mat-button [matMenuTriggerFor]="reservations">Reservations</a>
            <mat-menu #reservations="matMenu" style="padding-bottom: 10px;">
              <a mat-menu-item href="/reservations">Liste Reservations</a>
              <a mat-menu-item href="/create-r">Ajouter Reservation</a>
            </mat-menu>
<br>
            <a mat-button [matMenuTriggerFor]="clients">Clients</a>
            <mat-menu #clients="matMenu">
              <a mat-menu-item href="/clients">Liste CLients</a>
              <a mat-menu-item href="/create">Ajouter Client</a>
            </mat-menu></div>
            <a mat-list-item href="/confirm">Paiement</a>
            <a mat-list-item href="/comment">Commentaires</a>
            <a mat-list-item href="/">Site</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="dashboard-container split-view-container right">
          <div class="navbar-container d-flex align-content-between" style="background-color: rgb(252, 238, 224);">
            <div class="d-flex justify-content-start">
              <div class="menu d-flex align-content-between" style="font-size: x-small;">
                
                <button mat-icon-button (click)="toggleSidenav(sidenav)">
                  <!-- <mat-icon><img src="../assets/luna/menu.png" style="padding-bottom: 10px;"></mat-icon> -->
                  <i class="fa fa-bars"></i>
                </button>
                <h1 style="color: black; margin-top: 0px;">Aperçu du tableau de bord</h1>
              </div>
            </div>
            <div class="d-flex justify-content-end">
              <a href="/chambres" class="a" style="border: solid 0px; border-radius: 8px; margin-right: 12px; color: black;">Chambres</a>
              <a href="/reservations" class="a" style="border: solid 0px; border-radius: 8px; margin-right: 12px; color: black;">Reservations</a>
              <a href="/clients" class="a" style="border: solid 0px; border-radius: 8px; margin-right: 12px; color: black;">Client</a>
              <a href="/comment" class="a" style="border: solid 0px; border-radius: 8px; margin-right: 12px; color: black;">Paiement</a>
              <a href="/comment" class="a" style="border: solid 0px; border-radius: 8px; margin-right: 12px; color: black;">commentaire</a>
            </div>
          </div>

          <div class="container-fluid" style="background-color: rgb(241, 184, 127);">
            <div class="page-header">
              <div class="row">
                <div class="col-sm-12 mt-5"><br>
                  <h3 class="page-title mt-3">Bienvenue Mlle. Romaissae</h3><br>
                  <!-- <ul class="breadcrumb">
                    <li class="breadcrumb-item active">Dashboard</li>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>
          <div class="grid-container">
            <h1 class="mat-h1" style="margin-left: 12px;">Dashboard</h1>
            <mat-grid-list cols="4" rowHeight="150px" class="d-flex align-content-between justify-content-between">
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card class="dashboard-card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                  <mat-card-header>
                    <mat-card-title>
                    
                      <i class="fa fa-book" style="font-size:36px;color:peru"></i>  Total Booking
                      
                    </mat-card-title>
                  </mat-card-header>
                  <mat-card-content class="dashboard-card-content">
                    <div>{{ totalBooking }}</div>
                  </mat-card-content>
                </mat-card>
              </mat-grid-tile>
    
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card class="dashboard-card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                  <mat-card-header>
                    <mat-card-title>
                      <i class="fa fa-bed" style="font-size:36px;color:peru"></i>  Rooms Available
                      
                    </mat-card-title>
                  </mat-card-header>
                  <mat-card-content class="dashboard-card-content">
                    <div>{{ availableRooms }}</div>
                  </mat-card-content>
                </mat-card>
              </mat-grid-tile>
    
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card class="dashboard-card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                  <mat-card-header>
                    <mat-card-title>
                      <i class="fa fa-users" style="font-size:36px;color:peru"></i>  New Customers
                      
                    </mat-card-title>
                  </mat-card-header>
                  <mat-card-content class="dashboard-card-content">
                    <div>{{ newCustomers }}</div>
                  </mat-card-content>
                </mat-card>
              </mat-grid-tile>
    
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-card class="dashboard-card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                  <mat-card-header>
                    <mat-card-title>
                      <i class="fa fa-dollar" style="font-size:36px;color:peru"></i>  Total Revenue
                      
                    </mat-card-title>
                  </mat-card-header>
                  <mat-card-content class="dashboard-card-content">
                    <div>{{ totalRevenue }} Dhs</div>
                  </mat-card-content>
                </mat-card>
              </mat-grid-tile>
            </mat-grid-list>
            <div class="chart-section d-flex align-content-between justify-content-center">
              <app-annual-sales-chart style="width: 73%; padding-bottom: 20px; padding-left: 2%;"></app-annual-sales-chart>
              <app-store-sessions-chart style="padding-left: 2%; padding-bottom: 20px; padding-right: 2%;"></app-store-sessions-chart>
            </div>
            <div class="chart-section d-flex align-content-between justify-content-center">
              <app-product-sales-chart style="width: 35%; padding-left: 2%;"></app-product-sales-chart>
              <app-sales-traffic-chart style="padding-left: 2%; padding-bottom: 20px; width:65%; padding-right: 2%;"></app-sales-traffic-chart>              
            </div>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>

    
  </body>
  </html>
  