<div>
    <h2>Confirmation Page</h2>
    <p>Reservation Details:</p>
    <ul>
      <li>Nom: {{ reservationData?.nom }}</li>
      <li>Prenom: {{ reservationData?.prenom }}</li>
      <li>Email: {{ reservationData?.email }}</li>
      <li>DateArrivée {{ reservationData?.dateArrivee }}</li>
      <li>Date de Départ: {{ reservationData?.dateDepart }}</li>
      <li>NbrChambre: {{ reservationData?.nbrChambre }}</li>
      <li>NbrPersonne: {{ reservationData?.nbrPersonne }}</li>
      <li>idC: {{ reservationData?.idC }}</li>
      <li>id: {{ reservationData?.id }}</li>

    </ul>
  </div>